@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);

:root {
  --headingFonts: "Outfit", "Arial", monospace;
  --t_quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --t_expo_mod: cubic-bezier(0.14, 1, 0.22, 1);
  --paragraphFonts: "Plus Jakarta Sans", "Arial", monospace;
  --bg: black;
  --expoOut: cubic-bezier(0.16, 1, 0.3, 1);
}

body,
hr,
html {
  background: var(--bg)
}

body,
html {
  overflow: hidden;
  width: 100%
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline
}

footer {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  padding: 0;
  vertical-align: baseline
}

hr {
  border-color: #000;
  border-width: 1.25px
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

a {
  --transition: color 125ms ease;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
  color: #000;
  text-decoration: solid underline #696969 2px;
  text-underline-offset: .75px;
  transition: var(--transition)
}

a:hover {
  --hoverColor: #555;
  color: var(--hoverColor);
  text-decoration: dashed underline var(--hoverColor)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: var(--headingFonts);
}

p {
  color: #fff;
  font-family: var(--paragraphFonts);
  font-weight: 500;
}

::-webkit-scrollbar {
  height: auto;
  width: 6px
}

::-webkit-scrollbar-thumb {
  background-color: #8f8f8f
}

::-webkit-scrollbar-track {
  background-color: #121112
}

@media only screen and (max-width:600px) {
  ::-webkit-scrollbar {
    width: 6px
  }
}